downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
var/cache/**
var/session/**
var/locks/**
var/package/**
var/importexport/*
var/log/**
var/report/**
var/tmp/**
var/thumb/**
media/catalog/product/cache
media/catalog/category/
media/css/*
media/js/
.idea
/tmp/**
/nbproject
resource_config.json
node_modules
.DS_STORE
